.logout-button {
    position: fixed;
    top: 1em;
    right: 1em;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #222;
    padding: 10px 20px;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    transition: all 0.25s ease;
    font-family: monospace;
    z-index: 100;
}

.logout-button:hover {
    background-color: #333;
    border: 2px solid #222;
}

.logged-in-content {
    margin: 2em;
}